.toy-list {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  margin-top: 100px;
}

.toy-card {
  border: 1px solid #ccc;
  padding: 16px;
  width: 200px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  background-color: rgb(184, 196, 236);
}

.toy-card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.toycontain{
    margin-top: 100px;
    background: linear-gradient(to bottom,rgb(65, 117, 206),rgb(236, 46, 183));
    height: 1000px;
}

.mainhead{
    text-align: center;
    color: rgb(236, 92, 214);
}
