.div1{
    position: fixed;    
    background-color: rgb(219, 203, 234);
    width:1550px;
    height: 800px;
    left: 0;

}

.div2{
    background-color: antiquewhite;
    margin-top: 200px;
    margin-left: 500px;
    width: 500px;
    height: 300px;
}

.l_head{
    text-align: center;
    padding-top: 5px;
    
}

.d_email{
    margin-left: 80px;
    margin-top: 30px;
    height: 25px;

}

.d_pass{
    margin-left: 80px;
    margin-top: 30px;
    height: 10px;

}

.submitbutton{
    
    margin-left: 225px;
    margin-top: 50px;
    height: 20px;
    cursor: pointer;
    width: 80px;
    border-radius: 5px;
}

.i_email{
    margin-left: 30px;
    width: 250px;
}

.i_pass{
    margin-left: 10px;
    width: 250px;
}
.sign{
    margin-left: 125px;
    margin-top: 30px;
}

.submitbutton:hover{
    background-color: rgb(9, 176, 26);
    color: rgb(20, 69, 69);
    
}

.log_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px; /* space below the buttons */
   padding: 0 40px;

} 
.skip-button,
.forgot-button {
  background: none;
  border: none;
  color: #007bff;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  
}
