.div1{
    position: fixed;    
   background-image: url(
https://img.freepik.com/premium-photo/charming-isometric-toy-wonderland_1130573-99106.jpg?semt=ais_hybrid&w=740);
   background-size: cover;
   background-position: center;
    width:100vw;
    height: 100vh;
    left: 0;
}

.div2{
    background-color:rgba(37, 13, 17, 0.545);
    margin-top: 200px;
    margin-left: 250px;
    width: 500px;
    height: 300px;
    border-radius: 25px;
}

.l_head{
    text-align: center;
    padding-top: 10px;
    color: antiquewhite;
    
}

.d_form{
    padding-left: 50px;
    margin-top: 20px;
}
.d_form input{
    width: 25vw;
   
}

.submitbutton{
    
    margin-left: 170px;
    margin-top: 20px;
    height: 20px;
    cursor: pointer;
    width: 10vw;
    height: 4vh;
    border-radius: 10px;
}


.sign{
    margin-left: 125px;
    margin-top: 30px;
}

.submitbutton:hover{
    background-color: rgb(234, 101, 236);
    color: rgb(20, 69, 69);
    
}

.log_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px; /* space below the buttons */
   padding: 0 40px;

} 
.skip-button,
.forgot-button {
  
  color: #77b0ed;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}
.sign{
    margin-top: -1px;
    color: white;
}

.signlink{
    color: #77b0ed;
    text-decoration: underline;
    text-decoration-color: white;
}


