.scontainer1{
    background-color: rgb(241, 204, 216);
    height: 1000px;
    position: fixed;
    left: 0;
    width: 100%;
    
}

.scontainer2{
    background: linear-gradient(to bottom, rgb(47, 143, 227),rgb(240, 72, 193));
    width: 500px;
    height: 300px;
    margin-left: 500px;
    border-radius: 20px;
    margin-top: 200px;
    

}


.signhead{
    text-align: center;
    padding-top: 20px;
}

.s_mail{
    padding-left: 100px;
    
}
.s_email
{
    width: 250px;
}
.s1{
    margin-top:60px ; 
}


.next{
    margin-left: 220px;
    margin-top:30px;
    width: 70px;
    border-radius: 5px;
    cursor: pointer;
    
}


.next:hover{
    background-color: rgb(11, 215, 123);
}

.next2{
    margin-left: 120px;
    margin-top:30px;
    width: 70px;
    border-radius: 5px;
    cursor: pointer;
    
}


.next2:hover{
    background-color: rgb(11, 215, 123);
}

.sign2{
    margin-left: 100px;
}

.sign3{
    margin-left: 110px;
}

.sub3{
    margin-left:200px ;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.sub3:hover{
    background-color: rgb(11, 215, 123);
}

.dob{
    width: 200px;
}