.scontainer1{
    background-image: url(
https://img.freepik.com/premium-photo/back-school-toys-purple-background_980928-83460.jpg       );
    background-size:  cover;
    height: 100vh;
    position: fixed;
    left: 0;
    width: 100vw;
    
}

.scontainer2{
    background: rgba(70, 166, 168, 0.627);
    width: 35vw;
    height: 50vh;
    margin-left: 500px;
    border-radius: 20px;
    margin-top: 200px;
    border: 2px solid black;
}

.signhead{
    text-align: center;
    padding-top: 20px;
    color: #fff;
}

.sign_form{
    padding-left:60px ;
}

.sign_form input{
    width: 25vw;
}

.sign_dob input{
    width: 15vw;
   
}

.sign_dob{
    margin-left: 6vw;
}

.sign_sub{
    width: 10vw;
    height: 5vh;
    border-radius: 10px;
    margin-left:12vw ;
    margin-top: 20px;
    cursor: pointer;
}

.sign_sub:hover{
    background-color: rgb(151, 18, 148);
}
